# Model checkpoints
# *.pt
# *.pth
# *.onnx

# Misc
*.json
*.txt
*.prof
*.sarif
*kanbn*/
# *.bin

# Logging data
*runs*/
*logs*/

# Pip stuff
*.egg-info/
.eggs/
build/
dist/

# Rust stuff
*target*/
*.lock
*.svg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

